@use "../../src/styles/colors.scss";

.wrapper {
  height: 100vh;
  background: linear-gradient(0deg, white 50%, #7441F3 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: .85rem;
  padding-top: 2rem;
}
