.cameras-wrapper{
    max-height: 50%;
    padding-left: 300px;
}

.major-video-wrapper {
    max-height: 400px;
}

.majorVideo {
    border-radius: 15px;
}

.items-wrapper{
    display: inline-block;
    max-height: 400px;
}

.item{
    display: inline-block;
    max-width: 50%;
    border-radius: 15px;
}

.add{
    display: inline-block;
    min-width: 150px;
}
