@use "../../styles/colors.scss";

.card {
    padding: 0;
    border-radius: 2rem;
    background-color: colors.$primary_main;
}

.content {
    background-color: rgb(colors.$primary_main, 10%);
    padding: auto;
    position: relative;
}

.image {
    max-width: 50%;
    height: 80%;
    display: block;
    margin: 1.4rem auto;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-style: colors.$font_primary;
    font-size: 0.875rem;
    font-weight: 700 !important;
    color: colors.$primary_main;
}

.chip {
    background-color: colors.$highlight !important;
    color: white !important;
    border-radius: 7px !important;
    font-weight: 700 !important;
    position: absolute;
    top: 15px;
    right: 13px;
}
