.user-container {
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  background-color: rgba(#7441F3, 7%);
  color: #7441F3;
}
