@use "../../styles/colors.scss";

.header-wrapper {
    background-color: colors.$primary_main;
    display: flex;
    height: 224px;
    justify-content: center;
}
.paper-wrapper {
    display: flex !important;
    align-items: center !important;
    margin-top: 100px;
    margin-left: 200px;
    width: 1600px;
    height: 180px;
}
.left {
    display: flex;
    margin-left: 50px;
    width: 25%;
}
.right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}
