@use "../src/styles/colors.scss";

.container {
  padding: 0px !important;
  margin: 0px !important;
  max-width: inherit !important;
}
.grid-container {
  width: 100% !important;
  height: 100% !important;
}

.header-container,
.grid-item {
  width: 100% !important;
  height: 100% !important;
}
